.page {
  --background: #fafafa;
  --foreground: black;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.button {
  border: none;
  background: none;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 20px orange;
  font-size: larger;

  &:hover {
    box-shadow: 0 0 20px rgb(149, 97, 0);
  }
}